/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3a6a94;
  --ifm-color-primary-dark: #355f85;
  --ifm-color-primary-darker: #325a7d;
  --ifm-color-primary-darkest: #294a67;
  --ifm-color-primary-light: #4275a3;
  --ifm-color-primary-lighter: #487aab;
  --ifm-color-primary-lightest: #5a8aba;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #5b9fd9;
  --ifm-color-primary-dark: #4592d4;
  --ifm-color-primary-darker: #398ad1;
  --ifm-color-primary-darkest: #2e74b0;
  --ifm-color-primary-light: #71acde;
  --ifm-color-primary-lighter: #7db4e1;
  --ifm-color-primary-lightest: #9fc6e8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}